<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
        <dict>
            <key>AuthorizationURL</key>
            <string>Your authorization url</string>
            <key>TokenURL</key>
            <string>Your token url</string>
            <key>UserInfoURL</key>
            <string>Your user info url</string>
            <key>LogoutURL</key>
            <string>Your logout url</string>
            <key>ClientID</key>
            <string>Your client id</string>
            <key>RedirectURI</key>
            <string>Your redirect uri</string>
			<key>SocialURL</key>
            <string>Your social url</string>
            <key>ViewType</key>
            <string>Your view type</string>
        </dict>
    </plist>
